.App{
  border:1px solid rgb(142, 142, 142);
  border-radius: 5px;
  width: 600px;
  margin: 120px auto;
  border: 1px solid purple;
}

.todo_body{
  padding: 10px;
}
.todo_items{
  border:1px solid rgb(142, 142, 142);
  margin-top: 15px;
}
.todo_items > div:nth-child(even){
  background-color: rgb(218, 218, 218);

}
.addTodo{
  text-align: center;
  color:purple;
  padding: 15px;
}

.preloader{
  display: flex;
  justify-content: center;
  margin-top: 10%;

}
.preloader img{
  width: 400px;
  height: 400px;
}
@media (max-width:768px){
.App{
  width: 95%;
  }
}